 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
 @import url(fontello.css);
 *{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Poppins',sans-serif;
   transition: all 0.3s ease;
 }

 header{
  width: 100%;
  height: 50px;
  background: #764d9f;
  color: rgb(255, 255, 255);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.portada {
  width: 98%;
  margin: auto;
}

#menu-bar{
  display: none;
}

.menu {
  position: absolute;
  top:50px;
  left: 0;
  width: 100%;
  height: 41.5vh;
  background: rgba(#520e5f, #520e5f, #520e5f, alpha);
  transition: all 0.5s;
  transform: translateX(-100%);
}

header label{
  float: right;
  font-size: 25px;
  margin: 8px 0;
  cursor: pointer;
}

header.portada{
  display: table;
}

.menu a{
  border: none;
  display: block;
  color: rgb(255, 255, 255);
  height: 50px;
  text-decoration: none;
  padding: 15px;
}

#menu-bar:checked ~.menu {
  transform: translateX(0%);
}

@media (min-width:1024px){
  .menu {
    width: auto;
    height: auto;
    transform: translateX(0%);
    float:right;
    display: flex;
  }
}

 .portada h1 {
  padding: 15px;
  float: left;
  color: #ffffff;
  font-size: 18px;
 }

 .banner h3 {
   background: #400150;
   text-align: center;
    font-size: 40px;
    -webkit-text-fill-color: #ffffff;
   -webkit-text-stroke: 2px rgb(129, 0, 0);
 }


 .link {
  background: url("/Imagenes/fondo 2.png") no-repeat center center;
  background-size: cover;
  margin-top: 50px;
  max-width: 100%;
  height: auto;
 }

 .link h1 {
  padding: 15px;
  text-align: center;
   -webkit-text-fill-color: #000000;
   -webkit-text-stroke: 1px rgb(255, 255, 255);
   font-size: 27px;
   padding-bottom: 0;
 }

 .link h1 span{
  font-size: 45px;
  -webkit-text-fill-color: #700000;
  -webkit-text-stroke: 2px rgb(255, 255, 255);
}

.link p{
  padding: 15px;
  text-align: center;
}
 .link a{
  color: #fff;
  font-size: 26px;
  padding: 6px 24px;
  border: inset 5px #a101c965;
  border-radius: 20px 10px 50px 30px;
  -webkit-border-radius: 20px 10px 50px 30px;
  -moz-border-radius: 20px 10px 50px 30px;
  text-decoration: none;
  background: #400150;
  position: fixed;
  bottom: .5em;
  left: 0;
  right: 0;
  width: min(100%, 300px);
  margin-inline: auto;
  z-index: 9999;
}

.link a i{
  font-size: 30px;
}

.link a:hover{
  background: #260d2c ;
  
}

.barra_contenidos{
  text-align: center;
  color: #fff;
}

.barra_contenidos h3{
  font-size: 26px;
  font: 1em sans-serif;
}

.años{
  min-height: 12em;
  background: #520e5f;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.suscriptores{
  background: #36073f;
  min-height: 12em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.videos{
  background: #19031d;
  min-height: 12em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.linea_1 {
  left: 47.5%;
  position: absolute;
  height: 400px;
  width:5vw;
  border-width:0;
  color:#1f1120;
  background-color:#1f1120;
}

.lista{
  position: relative;
  width: min(100%, 45em);
  margin-inline:auto;
}

 .creador {
  text-align: center;
   padding: 1em;    
   height: 50%;
   display: block;
   margin-left: auto;
   margin-right: auto;
   background: #1f1120;
   border: solid 5px #260e2c65;
   border-radius: 20px 20px 20px 20px;
  -webkit-border-radius: 20px 20px 20px 20px;
  -moz-border-radius: 20px 20px 20px 20px;
   font-size: 15px;
   margin: 25px;
   color: #ffffff;
 }

 .icon-video{
  font-size: 40px;
  color: #d152e3; 
}

.edicion {
  text-align: center;
   padding: 1em;    
   height: 50%;
   display: block;
   margin-left: auto;
   margin-right: auto;
   background: #1f1120;
   border: solid 5px #260e2c65;
   border-radius: 20px 20px 20px 20px;
  -webkit-border-radius: 20px 20px 20px 20px;
  -moz-border-radius: 20px 20px 20px 20px;
   font-size: 15px;
   margin: 25px;
   color: #ffffff;
 }

 .icon-music{
  font-size: 40px;
  color: #d152e3; 
}
.estudiante {
  text-align: center;
   padding: 1em;    
   height: 50%;
   display: block;
   margin-left: auto;
   margin-right: auto;
   background: #1f1120;
   border: solid 5px #260e2c65;
   border-radius: 20px 20px 20px 20px;
  -webkit-border-radius: 20px 20px 20px 20px;
  -moz-border-radius: 20px 20px 20px 20px;
   font-size: 15px;
   margin: 25px;
   color: #ffffff;
 }

 .icon-newspaper{
  font-size: 40px;
  color: #d152e3; 
}
.imagen_propia {
  padding: 20px;
  background-size: cover;
} 
.imagen_propia img {
    width: min(100%, 12em);
    border: solid 4px white;
    border-top-left-radius: 50% 50%;
    border-top-right-radius: 50% 50%;
    border-bottom-right-radius: 50% 50%;
    border-bottom-left-radius: 50% 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 14px 14px 0 rgba(0, 0, 0, 0.15);
 }

 
 .texto p {
  padding: 1em;
  height: 70%;
  width: min(100%, 45em);
  background: #59126b;
  border: solid 5px #260e2c65;
  border-radius: 20px 20px 20px 20px;
  -webkit-border-radius: 20px 20px 20px 20px;
  -moz-border-radius: 20px 20px 20px 20px;
  font-size: 15px;
  margin: 5px;
  color: #ffffff;
  margin-left: auto;
  margin-right: auto;
  font-style: oblique;
}

 .habilidades  p {
  padding: 1em;
  height: 55%;
  width: min(60%, 65em);
  margin-inline:auto;
  background: #410052;
  border: solid 2px #ffffff;
  font-size: 15px;
  margin: 35px;
  color: #ffffff;
  margin-left: auto;
  margin-right: auto;
 }

 .habilidades h3 {
      background: #400150;
      text-align: center;
       font-size: 40px;
       color: white
    }

.inicios {
      background: #400150;
}

.comienzo  p {
  text-align: center;
  padding: 1em;
  margin-inline:auto;
  font-size: 16px;
  margin: 10px;
  color: #ffffff;
  margin-left: auto;
  margin-right: auto;
}

.palabra_clave_1{
  text-align: center;
  padding: 5px;
  margin-inline:auto;
  font-size: 20px;
  margin: 10px;
  color: #ffffff;
  margin-left: auto;
  margin-right: auto;
}

.comienzo h3 {
  border-top: solid 2px #ffffff ;
  border-bottom: solid 2px #ffffff ;
  background: #26052c;
  text-align: center;
  font-size: 40px;
  color: white
}   

.comienzo img {
  width: min(100%, 20em);
  padding: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.proceso {
  margin-top: 30px;
  background: #400150;
}
.procesos  p {
  text-align: center;
  padding: 1em;
  margin-inline:auto;
  font-size: 16px;
  margin: 10px;
  color: #ffffff;
  margin-left: auto;
  margin-right: auto;
}

.procesos h3 {
  border-top: solid 2px #ffffff ;
  border-bottom: solid 2px #ffffff ;
  background: #26052c;
  text-align: center;
  font-size: 40px;
  color: white
}   

.reaccion h4{
  margin-left: auto;
  margin-right: auto;
  border-top: solid 2px #ffffff ;
  border-bottom: solid 2px #ffffff ;
  text-align: center;    
  height: 50%;
  width: 50%;
  font-size: 24px;
  color: white
}   

.reaccion_1 {
  text-align: center;
  margin: 30px;
  padding: 1em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background: #1f1120;
  border: solid 5px #260e2c65;
  border-radius: 20px 20px 20px 20px;
 -webkit-border-radius: 20px 20px 20px 20px;
 -moz-border-radius: 20px 20px 20px 20px;
  font-size: 14px;
  color: white;
  height: 60%;
  width: 70%;
  box-shadow: -1px -1px 6px 0 rgb(165, 43, 159), 4px 4px 16px 2px rgb(68, 17, 60);
}

.reacciones img{
  height: 50px;
  width: 50px;
}

.imagen_1{
  padding: 15px;
}

#publico {
  width: 70px;
}
.reaccion_2 {
  text-align: center;
  margin: 30px;
  padding: 1em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background: #1f1120;
  border: solid 5px #260e2c65;
  border-radius: 20px 20px 20px 20px;
 -webkit-border-radius: 20px 20px 20px 20px;
 -moz-border-radius: 20px 20px 20px 20px;
  font-size: 14px;
  color: white;
  height: 60%;
  width: 70%;
  box-shadow: -1px -1px 6px 0 rgb(165, 43, 159), 4px 4px 16px 2px rgb(68, 17, 60);
}

.imagen_2{
  padding: 15px;
}

#aprobado {
  width: 70px;
}
.reaccion_3 {
  text-align: center;
  margin: 30px;
  padding: 1em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background: #1f1120;
  border: solid 5px #260e2c65;
  border-radius: 20px 20px 20px 20px;
 -webkit-border-radius: 20px 20px 20px 20px;
 -moz-border-radius: 20px 20px 20px 20px;
  font-size: 14px;
  color: white;
  height: 60%;
  width: 70%;
  box-shadow: -1px -1px 6px 0 rgb(165, 43, 159), 4px 4px 16px 2px rgb(68, 17, 60);
}

.imagen_3{
  padding: 15px;
}

#camara {
  width: 70px;
}

.resumen h4{
  margin-left: auto;
  margin-right: auto;
  border-top: solid 2px #ffffff ;
  border-bottom: solid 2px #ffffff ;
  text-align: center;    
  height: 50%;
  width: 50%;
  font-size: 24px;
  color: white
} 

.resumen_1 {
  text-align: center;
  margin: 30px;
  padding: 1em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background: #1f1120;
  border: solid 5px #260e2c65;
  border-radius: 20px 20px 20px 20px;
 -webkit-border-radius: 20px 20px 20px 20px;
 -moz-border-radius: 20px 20px 20px 20px;
  font-size: 14px;
  color: white;
  height: 60%;
  width: 70%;
  box-shadow: -1px -1px 6px 0 rgb(165, 43, 159), 4px 4px 16px 2px rgb(68, 17, 60);
}

.resumenes img{
  height: 50px;
  width: 50px;
}

#libros {
  width: 70px;
}
.resumen_2 {
  text-align: center;
  margin: 30px;
  padding: 1em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background: #1f1120;
  border: solid 5px #260e2c65;
  border-radius: 20px 20px 20px 20px;
 -webkit-border-radius: 20px 20px 20px 20px;
 -moz-border-radius: 20px 20px 20px 20px;
  font-size: 14px;
  color: white;
  height: 60%;
  width: 70%;
  box-shadow: -1px -1px 6px 0 rgb(165, 43, 159), 4px 4px 16px 2px rgb(68, 17, 60);
}

#grabacion {
  width: 70px;
}

.resumen_3 {
  text-align: center;
  margin: 30px;
  padding: 1em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background: #1f1120;
  border: solid 5px #260e2c65;
  border-radius: 20px 20px 20px 20px;
 -webkit-border-radius: 20px 20px 20px 20px;
 -moz-border-radius: 20px 20px 20px 20px;
  font-size: 14px;
  color: white;
  height: 60%;
  width: 70%;
  box-shadow: -1px -1px 6px 0 rgb(165, 43, 159), 4px 4px 16px 2px rgb(68, 17, 60);
}

#narrador {
  width: 70px;
}

.resumen_4 {
  text-align: center;
  margin: 30px;
  padding: 1em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background: #1f1120;
  border: solid 5px #260e2c65;
  border-radius: 20px 20px 20px 20px;
 -webkit-border-radius: 20px 20px 20px 20px;
 -moz-border-radius: 20px 20px 20px 20px;
  font-size: 14px;
  color: white;
  height: 60%;
  width: 70%;
  box-shadow: -1px -1px 6px 0 rgb(165, 43, 159), 4px 4px 16px 2px rgb(68, 17, 60);
}

#copyright {
  width: 70px;
}

.resumen_5 {
  text-align: center;
  margin: 30px;
  padding: 1em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background: #1f1120;
  border: solid 5px #260e2c65;
  border-radius: 20px 20px 20px 20px;
 -webkit-border-radius: 20px 20px 20px 20px;
 -moz-border-radius: 20px 20px 20px 20px;
  font-size: 14px;
  color: white;
  height: 60%;
  width: 70%;
  box-shadow: -1px -1px 6px 0 rgb(165, 43, 159), 4px 4px 16px 2px rgb(68, 17, 60);
}

#etiquetas {
  width: 70px;
}

.programas {
  margin-top: 30px;
  background: #400150;
}
.programas_necesarios  p {
  text-align: center;
  padding: 1em;
  margin-inline:auto;
  font-size: 16px;
  margin: 10px;
  color: #ffffff;
  margin-left: auto;
  margin-right: auto;
}

.programas_necesarios h3 {
  border-top: solid 2px #ffffff ;
  border-bottom: solid 2px #ffffff ;
  background: #26052c;
  text-align: center;
  font-size: 40px;
  color: white
}   

 body {
    background:#764d9f
 }