 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
 *{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Poppins',sans-serif;
   transition: all 0.3s ease;
 }

 h1 {
   -webkit-text-fill-color: #410052;
   -webkit-text-stroke: 2px rgb(255, 255, 255);
    font-size: 50px;
    margin-left: 30%;
    margin-right: 36%;
 }

 h3 {
    font-size: 36px;
    margin-left: 40%;
    -webkit-text-fill-color: #ffffff;
   -webkit-text-stroke: 2px rgb(129, 0, 0);
 }

 img {
    width: 30%;
    margin-left: 30%;
    border: solid 15px white;
 }

 p {
    font-size: 35px;
    margin: 25px;
   -webkit-text-fill-color: #ffffff;
   -webkit-text-stroke: 1px rgb(0, 0, 0);
 }

 body {
    background-image: url(wallpaper.png);
 }