 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
 *{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Poppins',sans-serif;
   transition: all 0.3s ease;
 }

 h1 {
   color: #ffffff;
    font-size: 50px;
    text-align: center;
 }

 .banner h3 {
   background: #400150;
   text-align: center;
    font-size: 40px;
    -webkit-text-fill-color: #ffffff;
   -webkit-text-stroke: 2px rgb(129, 0, 0);
 }



 .texto p {
   padding: 1em;
   position: relative;
   height: 55vh;
   width: 45%;
   background: #410052;
   border: solid 2px #ffffff;
   font-size: 15px;
   margin: 35px;
   color: #ffffff;
 }

 .texto a {
   padding: 1em;
   position: absolute;    
   height: 8vh;
   width: 12vh;
   background: #410052;
   border: solid 2px #ffffff;
   font-size: 15px;
   margin: 35px;
   color: #ffffff;
   left: 58%;
   top: 45%;

 }

 .texto ul{
   padding: 1em;
   position: absolute;    
   height: 24vh;
   width: 19vh;
   background: #410052;
   border: solid 2px #ffffff;
   font-size: 15px;
   margin: 35px;
   color: #ffffff;
   left: 48%;
   top: 55%;
 }

 img {
   position: absolute;
    width: 40%;
    border: solid 4px white;
    left: 58%;
    top: 28%;
 }

 .experiencia p {
   padding: 1em;
   background: #410052;
   border: solid 2px #ffffff;
   font-size: 15px;
   margin: 35px;
   color: #ffffff;
 }

 .experiencia h3 {
      background: #400150;
      text-align: center;
       font-size: 40px;
       color: white
    }

 body {
    background:#831d9c
 }